/* GENERAL */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: relative;
}

body {
    font-family: sans-serif;
    position: relative;
    z-index: -1;
}

a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

a:hover {
    text-decoration: underline;
}

.icons {
    display: flex;
}

.icons > * {
    margin: 0 4px;
}

/* HEADER */

header {
    background-color: #0E0E0E;
    padding-top: 40px;
    position: sticky;
    width: 100%;
    top: -40px;
}

#headerTwo {
    position: sticky;
    width: 100%;
    background-color: #FF6900;
    padding: 13px 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 8px rgba(0,0,0,.6);
}

#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1500px;
}

#header-logo {
    max-width: 100px;
}

/* MAIN */

main {
    position: relative;
    padding: 0 10%;
    z-index: -1;
}

/* product start */

.product-container {
    z-index: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 48px auto 0 auto;
    max-width: 1500px;
}

/* img start */

.product-container figure img {
    max-width: 340px;
    transition: 0.5s;
}

.product-container > .product {
    display: flex;
}

.product-container .img-container {
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    pointer-events: auto;
}

.product-container .img-container.first { background-image: url(../img/1b.webp); } 
.product-container .img-container.second { background-image: url(../img/2b.webp); } 
.product-container .img-container.third { background-image: url(../img/3b.webp); } 
.product-container .img-container.fourth { background-image: url(../img/4b.webp); } 
.product-container .img-container.fifth { background-image: url(../img/5b.webp); } 
.product-container .img-container.sixth { background-image: url(../img/6b.webp); } 

.product-container .img-container:hover img {
    opacity: 0;
}

/* img end */

/* figcaption start */

.product-container figure > figcaption {
    margin-bottom: 48px;
}

.product-container figure > figcaption > .brand {
    font-size: 12px;
}

.product-container figure > figcaption > .name {
    font-weight: 600;
    font-size: 15px;
}

.product-container figure > figcaption > .price {
    font-weight: 400;
    font-size: 13px;
    text-decoration: line-through;
}

.product-container figure > figcaption > .price.discount {
    font-weight: 600;
    text-decoration: none;
    color: red;
}

/* figcaption end */

/* discount start */

.img-container > div {
    position: absolute;
    z-index: 1;
    top: 400px;
    color: white;
    font-weight: 600;
    font-size: 12px;
}

.img-container > div > div {
    display: flex;
    pointer-events: auto;
}

.img-container > div > div > div {
    padding: 4px 6px;
}

.img-container > div > div > .sale {
    background-color: #FF0000;
    margin-right: 4px;
}

.img-container > div > div > .eco {
    background-color: #008000;
}

/* discount end */

/* heart start */

.heart {
    position: absolute;
    z-index: 1;
    margin: 12px 0 0 292px;
    background-color: white;
    padding: 5px 16px 5px 15px;
    pointer-events: none;
}

.heart > input[type="checkbox"] {
    appearance: none;
    cursor: pointer;
    outline: none;
    pointer-events: auto;
}

.heart > input[type="checkbox"]:before {
    content: "♥";
    color: black;
    font-size: 30px;
    /* display: none; */
}

.heart > input[type="checkbox"]:after {
    content: "♥";
    color: red;
    font-size: 30px;
    display: none;
}

.heart > input[type="checkbox"]:checked:after {
    display: inline;
}

.heart > input[type="checkbox"]:checked:before {
    display: none;
}

.heart > input[type="checkbox"]:not(:checked):before {
    display: inline;
}

.heart > input[type="checkbox"]:hover:before {
    color: red;
}

/* heart end */

/* product end */

/* FOOTER */
footer {
    background-color: #1A1A1A;
    color: white;
}

footer h2 {
    font-size: 16px;
    margin-bottom: 8px;
}

footer > #info {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
    width: 80%;
    max-width: 1500px;
    margin: 0 auto;
}

footer div > p {
    margin-bottom: 8px;
    font-size: 12px;
}

footer .social * {
    margin-right: 2px;
}

footer .social > a {
    font-size: medium;
}

footer .social > a:hover {
    text-decoration: none;
}




